/**
 * HINT- A CSS tooltip library
 */

.hint { position: relative; display: inline-block; }

.hint:before, .hint:after {
      position: absolute;
      opacity: 1;
      z-index: 1000000;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
  pointer-events: none;
}

    
.hint:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  position: absolute;
}
    
.hint:after {
  content: attr(data-hint);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 10px;
  font-size: .9em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/* default: bottom */

.hint--bottom:before {
  top: 100%;
  left: 0%;
  margin: -14px 0 0 0;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  margin-top: -6px;
}
    
.hint--bottom:after {
  top: 100%;
  left: 0%;
  margin: -2px 0 0 -10px;
  margin-top: 6px;
}

